<% include ../head %>

<div class="container pt">

    <h2>localName: <%- organism.localName %></h2>
    <h2>description: <%- organism.description %></h2>
    <h2>genus: <%- organism.genus %></h2>
    <h2>species: <%- organism.species %></h2>
    <h2>strain: <%- organism.strain %></h2>
    <h2>Private: <%- organism.hidden %></h2>

</div>

<% include ../foot %>