<% include ../head %>

<div class="container pt">

    <h2>
        <a href="/<%- username %>"><%- username %></a>
        /
        <a href="/<%- username %>/<%- organism.localName %>"><%- organism.localName %></a>
    </h2>


    <a href="/<%- username %>/<%- organism.localName %>/clone" class="btn btn-default">Clone / Fork</a>

    <% if(username){ %>
    <div id="epiceditor"></div>
    <button class="btn btn-info">Save</button>
    <% } %>

</div>


<% if(username){ %>
<script src="/components/EpicEditor/epiceditor/js/epiceditor.min.js"></script>
<script>
    var readme = "<%- organism.readme %>";
    var md = decodeURIComponent(readme);
    var editor = new EpicEditor({
        basePath: '/components/EpicEditor/epiceditor/',
        useNativeFullscreen: false
    }).load();
    editor.importFile(null, md);
</script>
<% } %>
<% include ../foot %>