<% include ../head %>

<div class="container pt">

    <h2>
        <a href="/<%- username %>"><%- username %></a>
        /
        <a href="/<%- username %>/<%- organism.localName %>"><%- organism.localName %></a>
    </h2>

</div>

<% include ../foot %>